<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telas</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <img src="img/documento.png">
            <ul>
                <li>
                    <a href="index" class="navlink active">Inicio</a>
                </li>
                <li>
                <a href="cadastrar" class="navlink">Cadastrar Usuário</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>