*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 8%;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#conteiner{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: solid 3px black;
    border-radius: 25px;
    background-color: none;
    
}

h1{
    text-align: center;
    margin: 2%;
    font-size: 3rem;
    color: #333;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

p{
    margin: 2%;
}

button{
    display: block;
    margin: 0 auto;
    width: 35%;
    height: 45px;
    cursor: pointer;
    color: #333;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    background-color: wheat;
}

button:hover {
    background-color: #0056b3;
}


