<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <div class="navbar">
        <div>
            <a href="/">Início</a>
            <a href="cadastrar">Cadastrar Usuário</a>
             <a href="listar">Listar Usuário</a>
        </div>
    </div>

    <!-- Conteúdo principal -->
    <div class="content">
        <h1 id="inicio">Bem-vindo!</h1>
        <p>Este é um site simples com tema escuro.</p>
    </div>
</body>

</html>