<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <marquee>
        <h1>Hello World! Springuito</h1>
    </marquee>
    <hr>
    <div class="imagem">
        <figure>
            <img src="/img/pexels-begumurkmezz-33800928.jpg" alt="Gatin">
        </figure>
    </div>
    <script src="js/script.js"></script>
</body>
</html>