<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo e orçamentos</title>
    <link th:href="@{/css/index/styleIndex.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/index/indexForm.css}" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <header>
        <nav>
            <div class="navbar-container">
                <div class="nav-container-icon">
                    <img src="/img/boxIcon.png">
                </div>
                <div class="navbar-container-center">
                    <h1>Catalogos e Orçamento da Sua Empresa!</h1>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">

        </div>
    </main>
    <footer>Footer</footer>
</body>
</html>