<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo e orçamentos</title>
    <link th:href="@{/css/index/styleIndex.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/index/indexForm.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/logged/empresaLogged.css}" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <header>
        <nav>
            <div class="navbar-container">
                <div class="nav-container-icon">
                    <img src="/img/boxIcon.png">
                </div>
                <div class="navbar-container-center">
                    <h1>Catalogos e Orçamento da Sua Empresa!</h1>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="empresa-container-header">
                <h1><span th:text="${empresa.nomeFantasia}"></span>!</h1>
                <a th:href="@{'/indexLogged/' + ${usuario.idUsuario}}">Voltar</a>
            </div>

            <div class="catalog-container-main">
                <div class="catalog-container-main-dashboard">
                    <div class="catalog-container-main-dashboard-header">
                        Catalogos
                    </div>
                    <div th:each="catalogo : ${catalogos}" class="catalog-container-main-option">
                        <h2 th:text="${catalogo.nomeCatalogo}" ></h2>
                        <p th:text="${catalogo.descricaoCatalogo}"></p>
                    </div>
                    
                    <div class="catalog-container-main-option">
                        <div class="catalog-container-form">
                            <form method="post" th:action="@{'/cadastrarCatalogo'}">
                                <input type="text" name="nomeCatalogo" id="nomeCatalogo" placeholder="Nome do Catalogo">
                                <input type="text" name="descricaoCatalogo" id="descricaoCatalogo" placeholder="Descrição do Catalogo">
                                <input type="hidden" name="empresa.idEmpresa" id="empresa.idEmpresa" th:value="${empresa.idEmpresa}">
                                <button type="submit">Criar Catalogo</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="catalog-container-main-selected">
                    <p>Nenhuma catalogo selecionado</p>
                </div>
            </div>
        </div>
    </main>
    <footer>Footer</footer>
</body>

</html>