<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo e orçamentos</title>
    <link th:href="@{/css/index/styleIndex.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/logged/styleLogged.css}" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <header>
        <nav>Header</nav>
    </header>
    <main>
        <div class="container">
            <h1>Seja bem vindo $nome!</h1>
            <div class="empresa-container">
                <h2>Suas empresas</h2>
                <div class="empresa-card" role="button">
                    Empresa
                </div>
            </div>
        </div>
    </main>
    <footer>Footer</footer>
    <script src="js/formIndex.js"></script>
</body>
</html>