<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo e orçamentos</title>
    <link th:href="@{/css/index/styleIndex.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/index/indexForm.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/logged/styleLogged.css}" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <header>
        <nav>
            <div class="navbar-container">
                <div class="nav-container-icon">
                    <img src="/img/boxIcon.png">
                </div>
                <div class="navbar-container-center">
                    <h1>Catalogos e Orçamento da Sua Empresa!</h1>
                </div>
                <div class="navbar-container-usuario-options">
                    <ul>
                        <li>
                            <div class="usuario-option">
                                <img src="/img/pencil.png">
                                <a onclick="document.getElementById('form-overlay').style.display='block'">Editar
                                    conta</a>
                            </div>
                            <div class="usuario-option">
                                <img src="/img/trash.png">
                                <a th:href="@{'/excluir?idUsuario=' + ${usuario.idUsuario}}">Excluir conta(NN
                                    CLICAR)</a>
                            </div>
                            <div class="usuario-option">
                                <img src="/img/exit.png">
                                <a th:href="@{'/logout'}" role="button">Sair</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Seja bem vindo <span th:text="${usuario.nomeUsuario}"></span>!</h1>
            <div class="empresa-container">
                <div class="empresa-container-header">
                    <div class="empresa-container-header-title">
                        <h2>Suas empresas</h2>
                    </div>
                    <div class="empresa-container-header-button">
                        <button id="openAddEmpresa" onclick="document.getElementById('overlay-addEmpresa').style.display='grid'">+</button>
                    </div>
                    <div class="overlay-addEmpresa" id="overlay-addEmpresa">
                        <button class="close-btn" id="closeAddEmpresa" onclick="document.getElementById('overlay-addEmpresa').style.display='none'">X</button>
                        <div class="form-container-empresa">
                            <h2 class="form-title">Criar Empresa</h2>
                            <form method="post" th:action="@{'/cadastrarEmpresa'}">
                                <input type="text" id="nomeFantasia" name="nomeFantasia" class="form-input"
                                    placeholder="Nome da empresa" required>
                                <input type="text" id="cnpj" name="cnpj" class="form-input"
                                    placeholder="CNPJ da empresa" required>
                                <input type="text" id="descricaoEmpresa" name="descricaoEmpresa" class="form-input"
                                    placeholder="Descrição da empresa" required>
                                <input type="hidden" name="idUsuario" th:value="${usuario.idUsuario}">
                                <button type="submit" class="form-submit">Cadastrar Empresa</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(empresas)}" class="empresa-container-main">
                    <p>Você ainda não cadastrou nenhuma empresa.</p>
                </div>

                <div th:if="${!#lists.isEmpty(empresas)}">
                    <div th:each="empresa : ${empresas}" class="empresa-container-main">
                        <a class="empresa-card" role="button"
                            th:href="@{'/empresaLogged/' + ${usuario.idUsuario} + '/' + ${empresa.idEmpresa}}">
                            <span class="empresa-card-link" th:text="${empresa.nomeFantasia}"></span>
                            <button class="empresa-card-button">...</button>
                            <p class="empresa-card-link"><span th:text="${empresa.descricaoEmpresa}"></span></p>
                            <a>
                    </div>
                </div>
            </div>
            <div class="form-overlay" id="form-overlay"
                style="display:none; position:fixed; top:0; left:0; width:100vw; height:100vh; background:rgba(0,0,0,0.5); z-index:999;">
                <div class="form-container">
                    <button class="close-btn" onclick="document.getElementById('form-overlay').style.display='none'"
                        id="closeForm">X</button>
                    <div class="form-container-left">Imagem do usuário</div>
                    <div class="form-container-right">
                        <h2 class="form-title">Editar Cadastro</h2>
                        <form th:action="@{'/editar'}" method="post">
                            <input type="text" id="nomeUsuario" name="nomeUsuario" class="form-input"
                                placeholder="Digite seu nome" th:value="${usuario.nomeUsuario}">
                            <input type="email" id="email" name="email" class="form-input"
                                placeholder="Digite seu email" th:value="${usuario.email}">
                            <input type="text" id="senha" name="senha" class="form-input" placeholder="Digite sua senha"
                                th:value="${usuario.senha}">
                            <button type="submit" class="form-submit">Salvar alterações</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>Footer</footer>
    <script src="js/formIndex.js"></script>
</body>

</html>