<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo e orçamentos</title>
    <link th:href="@{/css/index/styleIndex.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/index/indexForm.css}" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <header>
        <nav>
            <div class="navbar-container">
                <div class="nav-container-icon">
                    <img src="/img/boxIcon.png">
                </div>
                <div class="navbar-container-center">
                    <h1>Catalogos e Orçamentos da Sua Empresa!</h1>
                </div>
                <div class="form-container">
                    <form action="/login" method="post">
                        <span>Acesse sua conta</span>
                        <input type="text" id="email" name="email" class="form-input" placeholder="email" required>
                        <input type="text" id="senha" name="senha" class="form-input" placeholder="senha" required>
                        <button type="submit" class="form-submit">Entrar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="container-text">Crie Catálogos Profissionais e Destaque sua Empresa

                Bem-vindo ao Catalogos e Orçamentos! Aqui você pode cadastrar sua empresa e criar catálogos personalizados com
                os seus produtos ou serviços de forma rápida, prática e profissional.
                Ideal para empreendedores, lojistas e prestadores de serviço que querem divulgar seus itens com
                organização e estilo.

                Cadastre-se gratuitamente, adicione os dados da sua empresa e comece agora mesmo a montar catálogos
                digitais que impressionam seus clientes!</div>
            <button onclick="abrirForm()" id="openForm">Não possui conta ainda? CLIQUE AQUI</button>
            <div class="form-overlay" id="form-overlay">
                <div class="form-container">
                    <button class="close-btn" onclick="fecharForm()" id="closeForm">X</button>
                    <div class="form-container-left"><img src="img/boxIcon.png"></div>
                    <div class="form-container-right">
                        <h2 class="form-title">Cadastro de Usuário</h2>
                        <form method="POST">
                            <input type="text" id="nomeUsuario" name="nomeUsuario" class="form-input"
                                placeholder="Digite seu nome" required>
                            <input type="email" id="email" name="email" class="form-input"
                                placeholder="Digite seu email" required>
                            <input type="text" id="senha" name="senha" class="form-input" placeholder="Digite sua senha"
                                required>
                            <button type="submit" class="form-submit">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>Footer</footer>
    <script src="js/formIndex.js"></script>
</body>

</html>