<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo e orçamentos</title>
    <link th:href="@{/css/index/styleIndex.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/index/indexForm.css}" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <header>
        <nav>
            <div class="navbar-container">
                <div class="nav-container-icon">
                    <a>IMG</a>
                </div>
                <div class="navbar-container-center">
                    <ul>
                        <li>
                            <a>Index</a>
                        </li>
                    </ul>
                </div>
                <div class="form-container">
                    <form method="POST">
                        <input type="text" id="email" name="email" class="form-input" placeholder="email">
                        <input type="text" id="senha" name="senha" class="form-input" placeholder="senha">
                        <button type="submit" class="form-submit">Entrar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Catalogos e Orçamento da Sua Empresa!</h1>
            <button onclick="abrirForm()" id="openForm">Abrir Formulário</button>
            <div class="form-overlay" id="form-overlay">
                <div class="form-container">
                    <button class="close-btn" onclick="fecharForm()" id="closeForm">X</button>
                    <div class="form-container-left">Imagem pikaaa</div>
                    <div class="form-container-right">
                        <h2 class="form-title">Cadastro de Usuário</h2>
                        <form method="POST">
                            <input type="text" id="nomeUsuario" name="nomeUsuario" class="form-input" placeholder="Digite seu nome">
                            <input type="email" id="email" name="email" class="form-input" placeholder="Digite seu email">
                            <input type="text" id="senha" name="senha" class="form-input" placeholder="Digite sua senha">
                            <button type="submit" class="form-submit">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>Footer</footer>
    <script src="js/formIndex.js"></script>
</body>
</html>