/*CSS universal*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f0f0f0;
}

.navbar {
  background-color: #1f1f1f;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #f0f0f0;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #00bcd4;
}

.content {
  padding: 20px;
}

/*CSS universal Fim*/

/*CSS Form*/
.form-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 425px;
  margin: 0 auto;
}

.form-title {
  text-align: center;
  color: #00bcd4;
}

/* Estilo das labels */
.form-label {
  display: block;
  margin-bottom: 8px;
  color: #f0f0f0;
  font-size: 1rem;
}

/* Estilo dos campos de input */
.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #2a2a2a;
  border: 1px solid #333;
  border-radius: 4px;
  color: #f0f0f0;
  font-size: 1rem;
  transition: background-color 0.3s, border 0.3s;
}

/* Foco e hover dos inputs */
.form-input:focus {
  background-color: #333;
  border-color: #00bcd4;
  outline: none;
}

.form-input:hover {
  background-color: #333;
  border-color: #00bcd4;
}

/* Estilo do botão submit */
.form-submit {
  width: 100%;
  padding: 12px;
  background-color: #00bcd4;
  border: none;
  border-radius: 4px;
  color: #121212;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* Efeito de hover no botão */
.form-submit:hover {
  background-color: #0097a7;
  transform: translateY(-2px);
}

.form-submit:active {
  background-color: #00838f;
  transform: translateY(0);
}

/*CSS Form Fim*/

/*Lista usuario*/
.tabela-usuarios {
  max-width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.tabela-usuarios th,
.tabela-usuarios td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

.tabela-usuarios th {
  background-color: #f2f2f2;
}

.btn-alterar {
  background-color: #4CAF50;
  color: white;
  padding: 2px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-excluir {
  background-color: #f44336;
  color: white;
  padding: 2px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-alterar:hover {
  background-color: #45a049;
}

.btn-excluir:hover {
  background-color: #e53935;
}

/*Listar usuario fim*/

/*CSS Index*/
.main-container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  display: flex;
}

.main-container img{
  width: 20%;
  float: left;
  margin-right: 10px;
}

.main-content p{
  color: #3a4750;
  font-size: 1.2rem;
  line-height: 1.6; 
}

/*CSS Index FIM*/